.grande
{
	font-size: xx-large;
}

.epico
{
	font-size: xxx-large;
}

.piccolo
{
	font-size: xx-small;
}

.rosso
{
	color: red;
}

.verde
{
	color: green;
}

.blu
{
	color: blue;
}

.tnr
{
	font-family: Times New Roman;
}

