.bordo-rotondo
{
	border-radius: 25px;
	padding: 5px;
	text-align: center;
	margin: 50px;
}

.tratteggio
{
	border: 3px dotted;
}

.doppia-linea
{
	border: 5px double;
}

.solido
{
	border: 1px solid;
}

.button 
{
    background-color: orange;
    border: 2px solid black;
    color: black;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
